/****************
GENERAL 
*****************/

body {
  background: #bbb;
  color: #333;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#header {
	background: #FFF;
	max-width: 25%;
	margin: 50px auto -30px;
	padding: 1px 0;
	border-radius: 10px;
}

#header h1 {
  font-size: 3em;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-weight: bold;
}
.container {
  display: block;
  background: -moz-linear-gradient(top, #FFF 0%, #C5C5C5 30%) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFF), color-stop(90%, #C5C5C5)) no-repeat;
  border-radius: 10px;
  width: 25%;
  margin: 10px auto 0;
}

ul {
  margin: 0;
  padding: 0;
}

li * {
  float: left;
}

li, h3 {
  clear:both;
  list-style:none;
}

input, button {
  outline: none;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 20px;
  width: 60px;
  margin: 10px 0 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  cursor: pointer;
}

button:hover {
  color: #333;
}

/****************
HEADING 
*****************/

h3,
label[for='new-task'] {
  color: #333;
  font-weight: 700;
  font-size: 20px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px 10px;
  margin: 0;
  text-transform: uppercase;
}

input[type="text"] {
  margin: 0;
  font-size: 15px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

input[type="text"]:focus {
  color: #333;
}

/****************
FOOTER 
*****************/

#footer {
  font-size: 1em;
  color: #DDD;
  text-align: center;
  margin-top: 10%;
}

/****************
NEW TASK 
*****************/

label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
}

input#new-task {
  float: left;
  width: 75%;
}

p > button:hover {
  color: #0FC57C;
}

/****************
TASK Li 
*****************/

li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}

li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}

li >  input[type="text"] {
  width: 52%;
}

li > .delete:hover {
  color: #CF2323;
}

/****************
COMPLETED TASKS 
*****************/
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/****************
EDIT TASKS 
*****************/
ul li input[type=text] {
  display:none;
}

ul li.editMode input[type=text] {
  display:block;
}

ul li.editMode label {
  display:none;
}